{{ $item := . }}
<div class="d-none d-md-block">
  <div class="row no-gutters border-bottom border-gray">
    <div class="col-md-3 col-xl-2 mb-md-0 p-md-3">
      {{ if $item.Params.cover }}
        <img data-src="{{ $item.Params.cover | relURL }}" alt="{{ $item.Title }}" class="lazy w-100 rounded-sm" src="{{ "/assets/images/empty_300x200.png" | relURL }}">
      {{ else }}
        <img alt="placeholder" class="w-100 rounded-sm" src="{{ "/assets/images/empty_300x200.png" | relURL }}">
      {{ end }}
    </div>
    <div class="col-md-9 col-xl-10 p-3 pl-md-0">
      <h5 class="mt-0 mb-1 font-weight-normal">{{ $item.Title }}</h5>
      <p class="mt-0 mb-0 small text-muted"><i>{{ $item.Date.Format "January 2006" }}</i></p>
      {{ $desc := cond (isset $item.Params "description") $item.Params.description $item.Summary }}
      <p class="mt-0 mb-2 small text-muted">{{ $desc | markdownify | safeHTML }}</p>
      {{ with $item.Params.languages }}
      <p class="mt-0 mb-2 small">
        <span class="text-muted">Languages:</span>
        {{ range . }}<span class="badge badge-light mr-1">{{ . }}</span>{{ end }}
      </p>
      {{ end }}
      <p class="small pb-0 mb-0 lh-125 text-muted">
        {{ with $item.Params.github }}<a target="_blank" href="https://github.com/{{ . }}">[GitHub]</a> {{ end }}
        {{ with $item.Params.website }}<a target="_blank" href="{{ . }}">[Website]</a> {{ end }}
        {{ with $item.Params.docs }}<a target="_blank" href="{{ . }}">[Docs]</a> {{ end }}
        {{ range $k, $v := $item.Params.links }}
          {{ if (isset $v "url") }}
            <a target="{{ index $v "target" }}" href="{{ index $v "url" }}">[{{ $k }}]</a>
          {{ else }}
            <a target="_blank" href="{{ $v }}">[{{ $k }}]</a>
          {{ end }}
        {{ end }}
      </p>
    </div>
  </div>
  
</div>

<div class="row no-gutters d-md-none border-bottom border-gray {{ if $item.Params.cover }}lazy{{ end }}" data-src="{{ $item.Params.cover | relURL }}">
  <div class="w-100" style="background-color: rgba(255,255,255,0.9);">
    <div class="d-flex align-items-start flex-column py-3 px-4">
      <div class="mb-auto"></div>
      <div>
        <h5 class="mt-0 mb-1 font-weight-normal">{{ $item.Title }}</h5>
        <p class="mt-0 mb-0 small text-muted"><i>{{ $item.Date.Format "January 2006" }}</i></p>
        {{ $desc := cond (isset $item.Params "description") $item.Params.description $item.Summary }}
        <p class="mt-0 mb-2 small text-muted">{{ $desc | markdownify | safeHTML }}</p>
        {{ with $item.Params.languages }}
        <p class="mt-0 mb-2 small">
          <span class="text-muted">Languages:</span>
          {{ range . }}<span class="badge badge-light mr-1">{{ . }}</span>{{ end }}
        </p>
        {{ end }}
        <p class="small pb-0 mb-0 lh-125 text-muted">
          {{ with $item.Params.github }}<a target="_blank" href="https://github.com/{{ . }}">[GitHub]</a> {{ end }}
          {{ with $item.Params.website }}<a target="_blank" href="{{ . }}">[Website]</a> {{ end }}
          {{ with $item.Params.docs }}<a target="_blank" href="{{ . }}">[Docs]</a> {{ end }}
          {{ range $k, $v := $item.Params.links }}
            {{ if (isset $v "url") }}
              <a target="{{ index $v "target" }}" href="{{ index $v "url" }}">[{{ $k }}]</a>
            {{ else }}
              <a target="_blank" href="{{ $v }}">[{{ $k }}]</a>
            {{ end }}
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</div>
