<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-5 shadow-sm">
  <div class="{{ with .Params.container_class }}{{ . }}{{ else }}container-lg{{ end }}">
    <a class="navbar-brand"><strong>{{ .Site.Data.profile.navbar_name }}</strong></a>
    <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-map"></i> Menu
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
  {{ range .Site.Data.navigation.pages }}
          <li class="nav-item {{ if eq .name $.Params.navbar_title }}active{{ end }}">
            <a class="nav-link" href="{{ .url | relURL }}">{{ .name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
