{{ define "main" }}
  {{ partial "widgets/profile_card.html" . }}
  {{ partial "widgets/debug_repo_name.html" . }}
  

  {{ if .Site.Data.display.homepage.show_experience }}
    {{ partial "widgets/experience_card.html" . }}
  {{ end }}

  {{ if .Site.Data.display.homepage.show_selected_publications }}
    {{ $pubs := sort (where (where .Site.RegularPages "Section" "research") ".Params.selected" true) "Date" "desc" }}
    {{ partial "widgets/publication_card.html" (dict "context" . "publications" $pubs "title" "<i class=\"fas fa-star\"></i> Selected Research Contributions") }}
  {{ end }}

  {{ if .Site.Data.display.homepage.show_selected_projects }}
    {{ $projects := sort (where (where .Site.RegularPages "Section" "projects") ".Params.selected" true) "Date" "desc" }}
    {{ partial "widgets/project_card.html" (dict "context" . "projects" $projects "title" "<i class=\"fas fa-code-branch\"></i> Selected Projects") }}
  {{ end }}
{{ end }}
