{{ define "main" }}
  {{ $pubs := sort (where .Site.RegularPages "Section" "publications") "Date" "desc" }}
  {{ $groups := $pubs.GroupByDate "2006" }}

  <div class="row">
    <div class="col-12 col-lg-10">
      {{ range $groups }}
        <h2 class="pt-4" id="year-{{ .Key }}">{{ .Key }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl publications-list">
          {{ range .Pages }}
            <div class="list-item">
              {{ partial "widgets/publication_item.html" . }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
